@font-face{
    font-family: raleway_bold;
    src: url('../fonts/raleway/Raleway-Bold.ttf');
}

@font-face{
    font-family: raleway_black;
    src: url('../fonts/raleway/Raleway-Black.ttf');
}

@font-face{
    font-family: raleway_light;
    src: url('../fonts/raleway/Raleway-Light.ttf');
}

@font-face{
    font-family: raleway_medium;
    src: url('../fonts/raleway/Raleway-Medium.ttf');
}

@font-face{
    font-family: raleway_thin;
    src: url('../fonts/raleway/Raleway-Thin.ttf');
}

@font-face{
    font-family: raleway_semibold;
    src: url('../fonts/raleway/Raleway-SemiBold.ttf');
}
@font-face{
    font-family: rubikmono;
    src: url('../fonts/rubikmonoone/rubikmono.ttf');
}