* {
    margin: 0;
    padding: 0;
    font-family: helvetica;
    /*box-sizing: border-box;*/
}

@import url('../css/font.css');

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    }
    
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    }
  
   

.container{
    width: 100%;
    height: 20vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

#titl{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-family:rubikmono;
    font-size: 20px;
    width: 3.125rem;
    cursor: pointer;
    margin: 3.75rem 0;
}
#titl:hover{
    color: #8f0013;
}

#menuList{
    font-weight: bold;
}

svg{
    cursor: pointer;
    margin: 30px 0;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
nav ul li a:hover{
    color: #8f0013;
}

img{
    width: 100%;
}


body{
    /*width: 100%;*/
    height: 100vh;
    padding-left: 6%;
    /*padding-right: 0%;*/
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

.blog-post{
    width: 80%;
    max-width: 98rem;
    padding: 5rem;
    margin-left: 5rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;

}
.blog-post-img{
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-8rem);
    position: relative;
}

.blog-post-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
    box-shadow: .5rem .5rem 5rem 5rem rgba(0, 0, 0, .05);


}

/*.blog-post-img::before{
    content: '';
    width: 100%;
    height: 100%;
    position:absolute;
    /*background: linear-gradient(to right, rgba(143,0,19,.8), rgba(217, 28, 31, .8));
    box-shadow: .4rem .4rem 2rem 1px rgba(0, 0, 0, .05);
    border-radius: .8rem;
}*/

.pp{
    text-align:justify; 
    display:flex;
    width:8rem;
    font-family: helvetica;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin:-2rem 0rem 1rem 9rem;
    background-color: #8f0013;
    color: #fff;
    text-decoration: none;
    padding: 2%;
    border-radius: 0.8rem;
}

.blog-post-date span{
    display: block;
    color: rgba(0, 0,0,0.5);
    font-size: 1rem;
    font-weight: 600;
    margin: .4rem 0;
}

.blog-post-title{
    font-size: 2rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    columns: #8f0013;
}
.blog-post-text{
    margin-bottom: 2.5rem;
    font-size: 1.1rem;
    color: rgba(0,0,0,.7);
}

.blog-post-cta{
    display: inline-block;
    padding: 1rem 2.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    border: 2px solid #8f0013;
    border-radius: .8rem;
    text-decoration: none;
}

.blog-post-cta:hover{
    background-color: #8f0013;
    color: #fff;

}

@media screen and (max-width: 1068px) {
    .blog-post{
        max-width: 80rem;
    }

    .blog-post-img{
        min-width: 30rem;
        max-width: 30rem;
    }
}

@media screen and (max-width: 868px) {
    .blog-post{
        max-width: 70rem;
    }
}

@media screen and (max-width: 768px) {
    .blog-post{
        padding: 2.5rem;
        flex-direction: column;
    }

    .blog-post-img{
        min-width: 100%;
        max-height: 100%;
        transform: translate(0, -1rem);
    }
}

.blog-carosel-main{
    display: flex;
}

.blog-carosel-post{
    width: 30%;
    max-width: 98rem;
    padding: 3rem;
    height: 73%;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
    display: block;
    margin-left: 10rem;
    align-items: center;
    border-radius: .8rem;
}

.blog-carosel-post-img{
    width: 100%;
    height: auto;
}

.blog-carosel-post-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: .8rem;
}

.blog-carosel-post-date{
    display: block;
    color: rgba(0, 0,0,0.5);
    font-size: 0.8rem;
    font-weight: 600;
    margin: .4rem 0;
}

.blog-carosel-post-title{
    font-size: 1.5rem;
    margin: .5rem 0 .6rem;
    text-transform: uppercase;
    columns: #8f0013;
}

.blog-carosel-post-text{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0,0,0,.7);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-carosel-post-cta{
    display: inline-block;
    padding: 0.8rem 1.5rem;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: .6rem;
    text-decoration: none;
    border: 2px solid black;
    border-color:#8f0013;
    background-color: white;
    color: black;
    cursor: pointer;
}


.blog-carosel-post-cta:hover {
    background-color: #8f0013;
    color: #fff;
    transition: all ease 0.3s;
  }

@media screen and (max-width: 1068px) {
    .blog-carosel-post{
        max-width: 80rem;
    }

    .blog-carosel-post-img{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 868px) {
    .blog-carosel-post{
        max-width: 70rem;
    }
}

@media screen and (max-width: 768px) {
    .blog-carosel-post{
        padding: 1rem;
        flex-direction:row;
    }

    .blog-carosel-post-img{
        min-width: 100%;
        max-height: 100%;
    }
}

.archives {
    display: inline-block;
    padding: 0.8rem 15rem 0.8rem 15rem;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    border-radius: .6rem;
    text-decoration: none;
    background-color: #8f0013;
    color: #fff;
    cursor: pointer;
    margin: 2rem 0rem 2rem 20rem;;

}
.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1{
    flex-basis: 45%;
    position: relative;
    font-size: 20px;
    margin-left: 8%;
}
.wrapper{
    padding: 10px 0px;
}
button{
    width: 140px;
    border: 0;
    padding: 12px 5px;
    outline: none;
    color: #fff;
    background: #8f0013;
    border-radius: 6px;
    cursor: pointer;
}

.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.col-2 .pic{
    width: 60%;
    padding-left: 120px;
    display: block;
}

/*--------------Blog Carousel------------*/
main .blog .blog-post{
    padding-top: 6rem;

}
main .blog-post .blog-content{
    padding-top: 6rem;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;

}

/*Viewport less than or equal to 700px*/
@media only screen and (max-width:700px){

    nav ul{
        width: 100%;
        background: #8f0013;
        position: absolute;
        top:75px;
        right:0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color:#fff;
    }
    svg{
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .intro{
        flex-direction: column-reverse;
        margin: 30px 0;
        }
    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col-2 .pic{
        display: none;
    }
    .col-1{
        flex-basis: 100%;  
    }
    .col-1 .h1{
        font-size:15px ;
    }
    .col-1 .h5{
        font-size:10px ;
    }
}

footer{
  width: 95%;
  position:relative;
  background: #fff;
  border-radius: 0.8rem;
}
footer .content{
  max-width: 150rem;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

footer .content .box{
  width: 33%;
  transition: all ease 0.3s;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #000;
  margin-bottom: 16px;
}

footer .content .right input[type="text"]{
  height: 3rem;
  width: 100%;
  outline: none;
  color: #000;
  font-family: helvetica;
  font-weight: bold;
  background: #fff;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 17px;
  border: 2px solid #8f0013;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #000;
  background: #fff;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #8F0013;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
    background-color: #8f0013;
    color: #fff;
    transition: all ease 0.3s;
    border: none;
}

footer .bottom{
  width: 100%;
  text-align: right;
  color: #000;
  padding: 0 40px 5px 0;
}

@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
}
